# Pandas - Data Types and Missing Values
***

## Introduction

In this tutorial, we'll learn how to investigate data types within a __DataFrame__ or __Series__. We'll also learn how to find and replace entries.

<br><br>

## Dtypes

The data type for a column in a DataFrame or a Series is known as the dtype.

You can use the __dtype__ property to grab the type of a specific column. 
<br>
For instance, we can get the dtype of the __price__ column in the __reviews__ DataFrame:

In [1]:
import pandas as pd
reviews = pd.read_csv("../Resources/winemag-data-130k-v2.csv", index_col=0)
pd.set_option('max_rows', 5)

In [2]:
reviews.price.dtype

dtype('float64')

<br>
Alternatively, the dtypes property returns the dtype of every column in the DataFrame:

In [3]:
reviews.dtypes

country        object
description    object
                ...
variety        object
winery         object
Length: 13, dtype: object

<br>

Data types tell us something about how pandas is storing the data internally. __float64__ means that it's using a 64-bit floating point number; __int64__ means a similarly sized integer instead, and so on.

One peculiarity to keep in mind (and on display very clearly here) is that columns consisting entirely of strings do not get their own type; they are instead given the __object__ type.

It's possible to convert a column of one type into another wherever such a conversion makes sense by using the __astype()__ function. For example, we may transform the __points__ column from its existing __int64__ data type into a __float64__ data type:

In [4]:
reviews.points.astype('float64')

0         87.0
1         87.0
          ...
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float64

<br>
A DataFrame or Series index has its own dtype, too:

In [5]:
reviews.index.dtype

dtype('int64')

<br>
Pandas also supports more exotic data types, such as categorical data and timeseries data. Because these data types are more rarely used, we will omit them until a much later section of this tutorial.

<br><br>

## Missing Data

Entries missing values are given the value __NaN__, short for "Not a Number". For technical reasons these __NaN__ values are always of the __float64__ dtype.

Pandas provides some methods specific to missing data. To select __NaN__ entries you can use __pd.isnull()__ (or its companion __pd.notnull()__). This is meant to be used thusly:

In [6]:
reviews[pd.isnull(reviews.country)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
913,NaN,"Amber in color, this wine has aromas of peach ...",Asureti Valley,87,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Gotsa Family Wines 2014 Asureti Valley Chinuri,Chinuri,Gotsa Family Wines
3131,NaN,"Soft, fruity and juicy, this is a pleasant, si...",Partager,83,NaN,NaN,NaN,NaN,Roger Voss,@vossroger,Barton & Guestier NV Partager Red,Red Blend,Barton & Guestier
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129590,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Büyülübağ 2012 Shah Red,Red Blend,Büyülübağ
129900,NaN,This wine offers a delightful bouquet of black...,NaN,91,32.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Psagot 2014 Merlot,Merlot,Psagot

<br>

Replacing missing values is a common operation. Pandas provides a really handy method for this problem: __fillna()__.
<br>
__fillna()__ provides a few different strategies for mitigating such data. For example, we can simply replace each __NaN__ with an __"Unknown"__:

In [7]:
reviews.region_2.fillna("Unknown")

0         Unknown
1         Unknown
           ...
129969    Unknown
129970    Unknown
Name: region_2, Length: 129971, dtype: object

<br>
Or we could fill each missing value with the first non-null value that appears sometime after the given record in the database. This is known as the backfill strategy.

<br>

Alternatively, we may have a non-null value that we would like to replace. For example, suppose that since this dataset was published, reviewer Kerin O'Keefe has changed her Twitter handle from __@kerinokeefe__ to __@kerino__. One way to reflect this in the dataset is using the ___replace()__ method:

In [8]:
reviews.taster_twitter_handle.replace("@kerinokeefe", "@kerino")

0            @kerino
1         @vossroger
             ...
129969    @vossroger
129970    @vossroger
Name: taster_twitter_handle, Length: 129971, dtype: object

<br>

The __replace()__ method is worth mentioning here because it's handy for replacing missing data which is given some kind of sentinel value in the dataset: things like __"Unknown"__, __"Undisclosed"__, __"Invalid"__, and so on.

<br><br>

## Your Turn